// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius: 0.35rem;
$box-shadow-small: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$background-color: #f8f9fc;
$theme-blue: #4e73df;
$bootstrap-success: #1cc88a;
$bootstrap-alert: #e74a3b;
$bootstrap-info: #64b5f6;